body{
    font-family: 'Lato', sans-serif;
}

.img-cdmx{
    width:50%;    
    display: block;
    opacity: .9;
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;

}
.img-teo{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    display:block;
    border-radius: 10px;
}
.img-teo:hover{
    transform:scale(1.1);
}

.img-figures{
width:100%;
display: inline-block;
margin-left: auto;
margin-right: auto;
text-align: center;
}

figure{
    border:5px solid skyblue;
    width: 60%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border-radius: 5px;
    text-align: center;
}

.caption{
    background:black;
    color:white;
    width:100%;
    height:30px;
    
    text-align: center;
    opacity: .5;
    
}

.divfooter{
    width:50%;
    margin-left: auto;
    margin-right: auto
}
.img-footer{
    background-image:url(img/teotihuacan_piramide_2.jpg);
    
    height:500px;
    background-size:cover;
    background-repeat:no-repeat;
    border-radius: 50%;
}

.img-footer:hover{
    transform: skewY(10deg);
}